/* Larger screens only */
@media screen and (min-width: 768px) {

  main h1 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }

  #results {
    padding: 2.5rem 4rem;
    font-size: 1.25rem;
    max-width: 600px;
  }

dialog {
  font-size: 1.15rem;
}
dialog h2 {
  font-size: 2rem;
}
dialog p {
  font-size: 1.2rem;
}

    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    header img {
        margin-bottom: 0;
    }

    nav {
        display: flex;
        align-items: center;
        width: auto;
    }

    #menu-toggle {
        display: none;
    }

    #primary-nav {
        display: flex !important;
        flex-direction: row;
        background: none;
        padding: 0;
    }

    #primary-nav li {
        margin: 0 1rem;
    }

    #members-container.grid-view {
            grid-template-columns: repeat(3, 1fr);
        }

    .container {
        grid-template-columns: repeat(3, 1fr);
    }
    .container h2 {
        grid-column: 1 / -1;
    }

    footer {
        display: flex;
        justify-content: space-around;
        text-align: left;
        padding: 2rem;
    }

    footer div {
        margin: 0;
    }

     
    .membership-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem;
    }

    .membership-form, .membership-levels {
        flex: 1;
        margin: 0 1rem;
    }

    .membership-levels {
        max-width: 400px;
    }

}
